.game-field {
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 120px;
  height: 120px;
}

.game-cell {
    width: 52px;
    height: 52px;
    border: 1px solid black;
}